MONGO_URI=your-mongo-connection-string
MONGO_DB_NAME=your-database-name
SECRET_KEY=your-secret-key
FRONTEND_URL=your-frontend-url
MAILTRAP_SERVER=mail-trap-server
MAILTRAP_PORT=mail-trap-port
MAILTRAP_USERNAME=mail-trap-username
MAILTRAP_PASSWORD=mail-trap-password
MAILTRAP_USE_TLS=mail-trap-use-tls
MAILTRAP_USE_SSL=mail-trap-use-ssl